In [9]:
# Dependencies
# ----------------------------------
# Pandas
import pandas as pd

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

In [10]:
# Create Poverty and Education Table Classes
# ----------------------------------

# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()


# Creates Classes which will serve as the anchor points for our Tables
class Poverty(Base):
    __tablename__ = 'poverty'
    id = Column(Integer, primary_key=True)
    state = Column(String(255))
    povertyPct = Column(Float)


class Education(Base):
    __tablename__ = 'education'
    id = Column(Integer, primary_key=True)
    state = Column(String(255))
    educationPct = Column(Float)

In [19]:
# Create Database Connection
# ----------------------------------
# Creates a connection to our DB
engine = create_engine("postgresql://postgres:postgres@localhost/state_poverty")
conn = engine.connect()

In [20]:
# Query All Records in the the Database
eduData = pd.read_sql("SELECT * FROM education_by_state", conn)

In [21]:
# Preview the Data
eduData.head()

   state_name  education_pct
0     Alabama           25.5
1      Alaska           30.2
2     Arizona           29.7
3    Arkansas           23.3
4  California           34.2

In [22]:
# Repeat the process for Poverty data below
engine = create_engine("postgresql://postgres:postgres@localhost/state_poverty")
conn = engine.connect()

In [23]:

povData = pd.read_sql("SELECT * FROM poverty_by_state", conn)

In [24]:

povData.head()

   state_name  poverty_pct
0     Alabama         15.6
1      Alaska         12.6
2     Arizona         13.2
3    Arkansas         15.4
4  California         12.0